.display-err {
  color: red;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.controls-window-container {
  flex: 1;
  background-color: rgba(128, 128, 128, 0.219);
  border-bottom: 1px solid black;
  padding: 2px;
  max-height: 28px;
  min-height: 28px;
  display: flex;
  align-items: center;
}

.nav-window-container {
  overflow-y: scroll;
  flex: 1;
}

.loading-wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-wheel {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
